.your-root-class{
    width: 80vw;
    text-align: start;
}
.your-toolbar-class{
   
}
.your-toolbarInner-class{
 
}
.your-toolbarGroup-class{
    margin-left: 1rem;
}
.your-toolbarControl-class{
    font-size: large;
}
